<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgotPasswordActivity"></activity>
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".SpecialistForumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaregiverSearchForumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaregiverEditDeletePostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaregiverViewFavouriteList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaregiverCreatePostActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CaregiverForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DisplayAnalysisActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDeletePostActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewFavouriteList"
            android:label="Favourite List"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewReportedPostActivity"
            android:label="Reported Posts"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChangePassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:label="Answer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FAQ"
            android:exported="true"
            android:label="FaQ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eventAssessment"
            android:exported="true"
            android:label="Event Assessment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewEventActivity"
            android:exported="true"
            android:label="Schedule Appointment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="MASOCC" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".emotionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Patient Register" />
        <activity
            android:name=".Register2Activity"
            android:label="Caregiver Register" />
        <activity
            android:name=".Register3Activity"
            android:label="Specialist Register" />
        <activity
            android:name=".AndroidDatabaseManager"
            android:label="User Database" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>