<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project1">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chat.App"/>
        <activity
            android:name=".userProfile.UserDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".changeLanguage.ChangeLanguageActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.specialist.SpecialistEditDeleteForumPostActivity"
            android:exported="true"
            android:label="@string/my_forum_posts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.specialist.SpecialistViewForumFavouriteActivity"
            android:exported="true"
            android:label="@string/my_fav_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".emotionAssessment.component.EmotionDebug"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".emotionAssessment.EmotionAssessmentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise.ExerciseActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise.ExerciseDashboardActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise.ExerciseListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".login.ResetPasswordActivity" />
        <activity
            android:name=".forum.FullScreenPostImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".forum.specialist.SpecialistForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.caregiver.CaregiverSearchForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.caregiver.CaregiverEditDeletePostActivity"
            android:label="@string/my_forum_posts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.caregiver.CaregiverViewForumFavouriteListActivity"
            android:label="@string/my_fav_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.caregiver.CaregiverCreateForumPostActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".forum.caregiver.CaregiverForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".forum.EditDeleteForumPostActivity"
            android:exported="true"
            android:label="@string/my_forum_posts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userProfile.UserProfileActivity"
            android:exported="true"
            android:label="@string/my_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.CreateForumPostActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forum.ForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".forum.SearchForumActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".forum.ViewForumFavouriteListActivity"
            android:label="@string/my_fav_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forum.ViewForumFavouriteListActivity" />
        </activity>
        <activity
            android:name=".forum.specialist.ViewForumReportedPostActivity"
            android:label="@string/reported_posts"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".changePassword.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".faq.adapter.FAQActivityAdapter"
            android:label="@string/answer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".faq.FAQActivity"
            android:exported="true"
            android:label="FaQ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionnaire.QuestionnaireActivity"
            android:exported="true"
            android:label="@string/exercise_questionnaire"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eventReminder.EventReminderActivity"
            android:exported="true"
            android:label="@string/schedule_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".chat.ChatChannelListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.CreateChatChannelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatPageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat.FullScreenImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".exercise.NotificationReceiver">
            <intent-filter>
                <action android:name="android.media.action.exercise.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.exercise.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".eventReminder.component.AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".chat.service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="com.example.project1.chat.service.restartservice" /> -->
            <!-- </intent-filter> -->
        </service>

        <receiver
            android:name=".chat.service.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.example.project1.chat.service.restartservice" />
            </intent-filter>
        </receiver>

        <service
            android:name=".chat.service.DisplayNotificationJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <activity
            android:name=".emotionAssessment.EmotionButtonAssessmentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register.RegisterPatientActivity"
            android:label="@string/patient_register" />
        <activity
            android:name=".register.RegisterCaregiverActivity"
            android:label="@string/caregiver_register" />
        <activity
            android:name=".register.RegisterSpecialistActivity"
            android:label="@string/specialist_register" />
        <activity
            android:name=".mainPage.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.OnboardingBaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userManagement.UserListActivity"
            android:exported="true"
            android:label="@string/user_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userManagement.ViewUserDetailActivity"
            android:exported="true"
            android:label="@string/edit_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>